<%if notice%>
  <p id="notice" class="alert alert-success"><%= notice %></p>
<%end%>

<h1 class="col-md-12">Listing Users</h1>
<div class="responsive-class">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User Email</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= link_to 'Show', admin_user_path(user), class: "links"  %></td>
          <td><%= link_to 'Edit', edit_admin_user_path(user), class: "links"  %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
